<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wedding.adapter.out.persistence.mybatis.MybatisCardBoardRepositoryImpl">

    <resultMap id="CardBoardResultMap" type="CardBoard">
        <id column="cardboard_id" property="cardBoardId" />
        <result column="user_id" property="userId" />
        <result column="card_ids" property="cardIds" javaType="List" typeHandler="org.wedding.adapter.out.persistence.mybatis.JsonTypeHandler"/>
    </resultMap>

    <insert id="save" parameterType="CardBoard" useGeneratedKeys="true" keyProperty="cardBoardId">
        INSERT INTO cardboard (cardboard_id, user_id, card_ids)
        VALUES (#{cardBoardId}, #{userId}, #{cardIds, typeHandler=org.wedding.adapter.out.persistence.mybatis.JsonTypeHandler})
    </insert>

    <select id="findCardBoardByUserId" parameterType="int" resultMap="CardBoardResultMap">
        SELECT * FROM cardboard WHERE user_id = #{userId}
    </select>
</mapper>
