<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wedding.adapter.out.persistence.MybatisCardRepositoryImpl">
    <insert id="save" parameterType="Card" useGeneratedKeys="true" keyProperty="cardId">
        INSERT INTO card (card_id, card_title, budget, deadline, card_status)
        VALUES (#{cardId}, #{cardTitle}, #{budget}, #{deadline}, #{cardStatus})
    </insert>

    <select id="existsByCardTitle" parameterType="String" resultType="boolean">
        SELECT EXISTS
            ( SELECT 1 FROM card WHERE card_title = #{cardTitle} )
    </select>

    <select id="existsByCardId" parameterType="int" resultType="boolean">
        SELECT EXISTS
            ( SELECT 1 FROM card WHERE card_id = #{cardId} )
    </select>

    <select id="findByCardId" parameterType="int" resultType="Card">
        SELECT * FROM card WHERE card_id = #{cardId}
    </select>
</mapper>
