<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wedding.adapter.out.persistence.mybatis.MybatisTodoRepositoryImpl">

    <resultMap id="todoResultMap" type="Todo">
        <id column="todo_id" property="todoId"/>
        <result column="todo_item" property="todoItem"/>
        <result column="todo_check_status" property="todoCheckStatus"/>
        <result column="card_id" property="cardId"/>
    </resultMap>

    <insert id="save" parameterType="Todo" useGeneratedKeys="true" keyProperty="todoId">
        INSERT INTO todo (todo_id, todo_item, todo_check_status, card_id)
        VALUES (#{todoId}, #{todoItem}, #{todoCheckStatus}, #{cardId})
    </insert>
    
    <select id="countTodoByCardId" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM todo WHERE card_id = #{cardId}
    </select>

    <update id="update" parameterType="Todo">
        UPDATE todo
        SET todo_item = #{todoItem}, todo_check_status = #{todoCheckStatus}
        WHERE todo_id = #{todoId}
    </update>

    <select id="findByTodoId" parameterType="int" resultType="Todo">
        SELECT *
        FROM todo
        WHERE todo_id = #{todoId} AND card_id = #{cardId}
    </select>

    <select id="existsByTodoId" parameterType="int" resultType="boolean">
        SELECT EXISTS
            ( SELECT 1 FROM todo WHERE todo_id = #{todoId} AND card_id = #{cardId} )
    </select>

    <delete id="deleteTodo" parameterType="int">
        DELETE FROM todo WHERE todo_id = #{todoId} AND card_id = #{cardId}
    </delete>
    
    <select id="getAllTodos" resultType="arraylist" resultMap="todoResultMap">
        SELECT todo_id, todo_item, todo_check_status, card_id
        FROM todo
        WHERE card_id = #{cardId}
    </select>

</mapper>
